canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.left {
    background: lightgrey;
}

.right {
    background: white;
}

#rightDiv, #leftDiv {
  margin-top: auto;
  margin-bottom: auto;
}

#rightPlot {
    width: 100%;
}

#rightVideo, #leftVideo, #userVideo, #masterVideo, #userPlotVideo, #leftPlot, #feedbackVideo{
    width: 100%;
    height: 100%;
}

#recordDiv {
  text-align: center;
}

#record {
    width: 80%;
}

h2 {
    color: white;
}

.slide-btn {
    opacity: 0.4;
}

.slide-btn:hover {
    opacity: 1;
}

#loading_overlay {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: gray;
    display: none;
    z-index: 1;
}

#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#countdown {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#countdown_value {
    font-size: 100px;
    color: #ffffff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
